<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite parallel="false" name="Suite">

  <listeners>
        <listener class-name="com.automation.utils.Listeners.TestListener"/>
        <listener class-name="com.automation.utils.Listeners.AnnotationTransformer"/>
  </listeners>
  <test name="Test">
    <classes>
      <class name="com.automation.StartTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->